<!-- app/templates/admin/admin_layout.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GITEC.InfoVue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
  <header>
    <h1>SchoolBoard Admin</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('admin.users') }}">Users</a></li>
        <li><a href="{{ url_for('admin.media') }}">Media</a></li>
        <li><a href="{{ url_for('admin.settings') }}">Settings</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      </ul>
    </nav>
  </header>

  <main class="content-wrapper">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
