<!-- app/templates/admin/dashboard.html -->

{% extends 'admin/admin_layout.html' %}

{% block content %}

<div class="container" style="max-width: 900px;">

    <ul>
    {% for board in boards %}

        <li>
            <a href="{{ url_for('admin.edit_board', board_id=board.id) }}">{{ board.title }}</a>
            {% if board.id %}
                <form method="post" action="{{ url_for('admin.delete_board', board_id=board.id) }}" style="display: inline;">
                    <button type="submit" class="button small" onclick="return confirm('Are you sure you want to delete this board?');">Delete</button>
                </form>
            {% endif %}
        </li>

    {% endfor %}
    </ul>
</div>


{% endblock %}
